<div class="cuerpo">
  <form [formGroup]="form" (ngSubmit)="agregarCita()">
    <div class="form-contenido">
      <h1>{{titulo}} </h1>
      <mat-form-field class="cajas" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput autocomplete="off" 
        formControlName="nombre" 
        [readonly]="!adicionar"
        />
      </mat-form-field>
      <small class="advertencia" *ngIf="NombreNoValido">
        Ingrese mas de 4 letras
      </small>

      <mat-form-field class="cajas" appearance="fill">
        <mat-label>Apellido</mat-label>
        <input matInput autocomplete="off" 
        formControlName="apellido"/>
      </mat-form-field>
      <small class="advertencia" *ngIf="ApellidoNoValido">
        Ingrese mas de 4 letras
      </small>

      <mat-form-field class="cajas" appearance="fill">
        <mat-label>Correo</mat-label>
        <input matInput 
        autocomplete="off" 
        formControlName="correo"

        />
      </mat-form-field>
      <small class="advertencia" *ngIf="CorreoNoValido">
        Ingrese un email valido
      </small>
    

      <mat-form-field class="cajas" appearance="fill">
        <mat-label>Celular</mat-label>
        <input matInput 
        autocomplete="off"
        formControlName="celular" 
      />
      </mat-form-field>


      <mat-form-field class="cajas-dia"  >
        <mat-label>Fecha</mat-label>
        <input matInput 
        autocomplete="off" 
        type="date" 
        formControlName="fecha"
        />
      </mat-form-field>

      <mat-form-field class="cajas-dia" appearance="fill">
        <mat-label>Hora</mat-label>
        <input matInput 
        autocomplete="off"  
        type="time" 
        formControlName="hora"
        />
      </mat-form-field>

      <mat-form-field class="cajas" appearance="fill">
        <mat-label>Descripcion</mat-label>
        <textarea matInput placeholder="mensaje" formControlName="descripcion"></textarea>
      </mat-form-field>

      <button mat-raised-button class="cajas btn" type="submit" (click)="Volver()">Volver</button>

      <button mat-raised-button class="cajas btn" type="submit" [disabled]="form.invalid" *ngIf="adicionar === true">Enviar</button>

      <button mat-raised-button class="cajas btn" type="submit" [disabled]="form.invalid" *ngIf="adicionar === false">Modificar</button>
    </div>
  </form>
</div>


