<div class="container" id="menu1">
  <h1 class="form-title">Datos personales</h1>
  <div class="fondo">
    <div class="info">
      <h2>
        FORMACION ACADEMICA
      </h2>
      <ul>
        <li>
          <strong>Capacitacion en desarrollo de aplicaciones web</strong>
            <ul>
              <li>
                <p>Solaning Capacitacion</p>
                <p>(2022-Presente)</p>
              </li>
            </ul>
        </li>
        <li>
          <strong>Secundaria</strong>
          <ul>
            <li>
              <p>Republica de Venezuela</p>
              <p>(2015-2019)</p>
            </li>
          </ul>
        </li>
        <li>
          <strong>Primaria</strong>
          <ul>
            <li>
              <p>Jose Gabriel de Gumucio</p>
              <p>(2008-2014)</p>
            </li>
          </ul>
        </li>
        
        
      </ul>
    </div>
  </div>

  <div class="fondo2">
    <div class="lado-der">
      <h2>
        COMPETENCIAS
      </h2>
      <ul>
        <li>Adaptabilidad</li>
        <li>Manejo del lenguaje de programacion JAVA</li>
        <li>Capacidad de trabajar en equipo</li>
        <li>Conocimiento en el manejo de Word y PowerPoint</li>
        <li>Manejo del estres</li>
      </ul>
    </div>
  </div>

  <div class="fondo">
    <div class="info">
      <h2>
        HABILIDADES
      </h2>
      <ul>
        <li>
          <strong>Macros</strong>
          <p>Solaning S.R.L (2022) <br> Duracion:48 horas</p>
        </li>
        <li>
          <strong>Webinar "Hacia una mentalidad emprendedora"</strong>
          <p>Universidad Mayor de San Simon (2022)<br> Duracion: 2 horas</p>
        </li>
        <li>
          <strong>Webinar "Administracion de tiempo"</strong>
          <p>Educacion Biz (2021) <br> Duracion: 2 horas</p>
        </li>
        <li>
          <strong>Webinar "Como afrontar el covid en el hogar"</strong>
          <p>
            Universidad Mayor de San Simon (2021) <br>Duracion: 40 horas
          </p>
        </li>
  
      </ul>
    </div>
  </div>

  <div class="fondo2">
    <div class="lado-der">
      <h2>
        INFORMACION ADICIONAL
      </h2>
      <ul>
        <li> <b>Español:</b> Nativo</li>
        <li><b>Ingles:</b>Basico</li>

      </ul>
    </div>
  </div>
</div>