
h1{
  font-family: 'Montserrat', sans-serif;
}

.form-title{
  text-align: center;
  font-size: 1.9rem;
  font-weight: 900;
}

#menu1{
  background-image: linear-gradient(to right,  rgb(225, 141, 251,0.6) 0%,  rgb(90, 142, 241,0.6) 100%),url(../../../assets/img/fondo-quiza.png);
  background-size: cover;
  height:100%;
  width: 100%;
}

#menu1 .fondo{
  background-color: rgb(168, 141, 120,0);
  padding: 2% 0% ;
}

#menu1 .fondo .info{
 
  background-color: white;
  width: 50%;
  padding: 2%;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 10px 10px 20px black;
}
#menu1 .fondo2{
  background-color: rgb(255, 255, 255,0);
  padding: 2% 0% ;
}
#menu1 .fondo2 .lado-der{

  margin: 0% 0% 0% 50%;
   border-bottom-left-radius: 10px;
  border-top-left-radius: 10px; 
  background-color: rgb(225, 141, 251);
  color: white;
  width: 50%;
  padding: 2%;
  box-shadow: 10px 10px 20px black;
}
 ul li{
  list-style: none;
  font-size: 19px;
}
strong{
  font-size: 21px;
  font-family: 'Montserrat' sans-serif;
}

@media (max-width:768px){


  #menu1 .fondo .info{
 
   width: 80%;
   padding: 2%;
   font-size: 12px;
 }
  strong{
   font-size: 13px;
 }
 
 #menu1 h2{
   font-size: 14px;
 }
 
 #menu1 .fondo2 .lado-der{
   margin: 0% 0% 0% 20%;
   width: 80%;
   padding: 2%;
 }
 
 ul li{
   font-size: 15px;
 }
 } 


 @media (max-width:320px){


  #menu1 .fondo .info{
    background-color: rgb(255, 255, 255,0.6);
   width: 100%;
   padding: 1.2rem;
   border-bottom-right-radius: 0px;
   border-top-right-radius: 0px;
 }
  strong{
   font-size: 13px;
 }
 
 #menu1 h2{
   font-size: 14px;
 }
 
 #menu1 .fondo2 .lado-der{
   margin: 0%;
   width: 100%;
   padding: 2%;
   border-bottom-left-radius: 0px;
   border-top-left-radius: 0px; 
   background-color: rgb(225, 141, 251,0.6);
   padding: 1.2rem;
 }
 
 ul li{
   font-size: 15px;
 }
 } 
